body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

.name-color{
    color: orange;
}

.flex-cont{
    display: flex;
    margin-bottom: 100px;
}

.box1{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 10px;
    border-left: 5px solid orange;
}

.box2{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 5px solid green;
}

.half-width{
    width: 50%;
    padding: 20px;
}

p{
    text-align: justify;
}

.half-width img{
    width: 70%;
}

.button1 {
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;
  }

  /* .experience-area{
    
  } */

  img {
    border-radius: 70%;
  }
  
  footer p{
    text-align: center;
  }

